body { 
    margin-top: 30px; 
    font-family: 'lato', georgia;
    font-size:25px; 
    background-color: #2c3e50;
}

.botones { 
    margin-top: 50px; 
}

.botones div {
    width: 10em;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 1em;
}

#boton {
    padding: 1em;
    color:#ffffff;
}

input{
    width: 12em;
    font-size: 24px;
}

.btnff6 {
    background-image: linear-gradient(0deg, #000039, #7b7bd6);
    border-radius: 8px;
    box-shadow: 0 0 0 2px #6e6c6c, 0 0 0 4px #a4a1a1, inset 2px 2px 2px rgba(0,0,0,.7);
}


a, .title, #total, .blanco
{ 
    color: white; 
    text-decoration: none;
}

a:hover{ 
    text-shadow: 0 1px 2px rgba(255,255,255,0.8); 
}



div, #boton { 
    transition: .5s all linear; 
}

.btnff6:hover { 
    transform: scale(1.5); 
}

